<div class="container flex flex-col">
  <img
    src="https://lh3.googleusercontent.com/aida-public/AB6AXuB0DjNPzet54NzTZhNmAk90DCmxQ6X8WWpGmwNQ_144KGbNPw8950JcwZ5ZGRxiC-z2HVv7hKjKs3gpkE1g_zyWxH0iBTcR-LLhDNskctdXNtYuRre2328n9On_ZZg2tOe-UgBisNbnkONK_zF1C5mGM0z4Z-hAsLNHAbywYrC_H-4EuP9Fb1cNHK7IuwG2h8Sv1y2dqq__N0crAWWmez1m9OkUhE-N3y0ySCOp03lOUaXg5bA6xk4vPhMe_yrHbpFbQsb6FQK6lk1z"
    alt="Portada del evento"
    class="h-56 w-full object-cover md:h-72"
  />
  <h1 class="px-4 pb-3 pt-5 text-center text-h1 font-bold text-textPrimary">
    Taylor Swift Concert
  </h1>

  <div class="flex gap-4 px-4 py-6">
    <div class="flex grow basis-0 flex-col items-stretch gap-4">
      <div class="flex h-14 grow items-center justify-center rounded-lg bg-countdownBg px-3">
        <p class="text-lg font-bold leading-tight tracking-tight text-textPrimary">12</p>
      </div>
      <div class="flex items-center justify-center">
        <p class="text-sm font-normal leading-normal text-textPrimary">Days</p>
      </div>
    </div>
    <div class="flex grow basis-0 flex-col items-stretch gap-4">
      <div class="flex h-14 grow items-center justify-center rounded-lg bg-countdownBg px-3">
        <p class="text-lg font-bold leading-tight tracking-tight text-textPrimary">03</p>
      </div>
      <div class="flex items-center justify-center">
        <p class="text-sm font-normal leading-normal text-textPrimary">Hours</p>
      </div>
    </div>
    <div class="flex grow basis-0 flex-col items-stretch gap-4">
      <div class="flex h-14 grow items-center justify-center rounded-lg bg-countdownBg px-3">
        <p class="text-lg font-bold leading-tight tracking-tight text-textPrimary">45</p>
      </div>
      <div class="flex items-center justify-center">
        <p class="text-sm font-normal leading-normal text-textPrimary">Minutes</p>
      </div>
    </div>
    <div class="flex grow basis-0 flex-col items-stretch gap-4">
      <div class="flex h-14 grow items-center justify-center rounded-lg bg-countdownBg px-3">
        <p class="text-lg font-bold leading-tight tracking-tight text-textPrimary">22</p>
      </div>
      <div class="flex items-center justify-center">
        <p class="text-sm font-normal leading-normal text-textPrimary">Seconds</p>
      </div>
    </div>
  </div>

  <h3 class="px-4 pb-2 pt-4 text-lg font-bold leading-tight tracking-tight text-textPrimary">
    Wishlist
  </h3>

  <div class="p-4">
    <div class="flex justify-between rounded-lg">
      <div class="flex flex-shrink-[2] flex-grow-[2] basis-0 flex-col gap-1">
        <p class="text-sm font-normal leading-normal text-textSecondary">100$</p>
        <p class="text-base font-bold leading-tight text-textPrimary">Taylor Swift T-Shirt</p>
      </div>
      <div class="relative aspect-video flex-1 overflow-hidden rounded-lg">
        <img
          src="https://lh3.googleusercontent.com/aida-public/AB6AXuAEB1ok7bbXw87-J84a02M1R3oDffrbD8xIGhcj8YsahKan0ncEyvsTLCwj16Ki9dop0nB17_gX5clFf35oX9MDKx3ETUZAK8dAHgUTFDOocSpD8gt30-tfG9Cz1WQ4AttXuHDOekVp3LgxWWYM4ew6b8fSgs1bSQC8gK4k4tklI3qLT6V2wXTvy_wva6eEmuAGExUA3Ce9MN4zGMpx9R3-JREsMTwvMRyPplW5vS-l_oj3u2Y5cyta2dU2Nzw1OYK3wwwUzB-qKmjf"
          alt="Imagen del producto"
          class="absolute inset-0 h-full w-full object-cover"
        />
      </div>
    </div>
    <div class="flex justify-between py-3">
      <button
        class="flex h-10 cursor-pointer items-center justify-center overflow-hidden rounded-lg bg-btnSecondary px-4 text-sm font-bold leading-normal tracking-tight"
      >
        View
      </button>
      <button
        class="flex h-10 cursor-pointer items-center justify-center overflow-hidden rounded-lg bg-btnPrimary px-4 text-sm font-bold leading-normal tracking-tight text-white"
      >
        I'll gift it!
      </button>
    </div>
  </div>
</div>
