<div class="flex h-screen flex-col">
  <div class="flex items-center justify-between bg-white p-4 pb-2">
    <div class="flex size-12 shrink-0 items-center text-textPrimary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        viewBox="0 0 256 256"
      >
        <path
          d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"
        ></path>
      </svg>
    </div>
    <h2
      class="flex-1 pr-12 text-center text-lg font-bold leading-tight tracking-title text-textPrimary"
    >
      Crear evento
    </h2>
  </div>

  <div class="container-type-inline-size"></div>
  <form [formGroup]="form" (ngSubmit)="submit()" class="min-h-0">
    <div class="relative px-4 py-3">
      <div
        *ngIf="previewUrl; else placeholder"
        class="relative flex min-h-[218px] w-full cursor-pointer flex-col justify-end overflow-hidden rounded-lg bg-white bg-cover bg-center bg-no-repeat"
        [ngClass]="{'border-2 border-red-500' : imageControl.invalid}"
        [style.background-image]="previewUrl && 'url(' + previewUrl + ')'"
      ></div>
      <p
        class="text-red-500"
        *ngIf="imageControl.invalid && (imageControl.dirty || imageControl.touched)"
      >
        JPEG o PNG (2MB Máximo)
      </p>
      <ng-template #placeholder>
        <div
          class="relative flex min-h-[218px] w-full cursor-pointer flex-col items-center justify-center overflow-hidden rounded-lg border-gray-300 bg-countdownBg text-textSecondary hover:border-gray-400"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-10 w-10 opacity-70"
            viewBox="0 0 24 24"
            fill="currentColor"
          >
            <path
              d="M9 3a1 1 0 0 0-.894.553L7.382 5H5a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2.382l-.724-1.447A1 1 0 0 0 13 3H9zm3 4a5 5 0 1 1 0 10 5 5 0 0 1 0-10zm0 2a1 1 0 0 0-1 1v1H10a1 1 0 1 0 0 2h1v1a1 1 0 1 0 2 0v-1h1a1 1 0 1 0 0-2h-1V10a1 1 0 0 0-1-1z"
            />
          </svg>
          <div>
            <p class="mt-2 text-sm">Portada</p>
          </div>
        </div>
      </ng-template>
      <input
        type="file"
        [accept]="acceptedTypes"
        (change)="onFileChange($event)"
        class="absolute inset-0 z-10 h-full w-full cursor-pointer opacity-0"
      />
    </div>
    <div class="px-4 py-3">
      <input
        formControlName="title"
        placeholder="Nombre del evento"
        class="h-14 w-full rounded-lg border-none bg-countdownBg p-4 text-textPrimary placeholder:text-textSecondary focus:border-none focus:outline-0 focus:ring-0"
      />
    </div>
    <div class="px-4 py-3">
      <div class="relative">
        <input
          formControlName="eventDate"
          type="date"
          required
          name="eventDate"
          class="peer h-14 w-full appearance-none rounded-lg border-none bg-countdownBg p-4 pr-12 text-textPrimary invalid:text-transparent focus:outline-0 focus:ring-0 [&::-webkit-calendar-picker-indicator]:opacity-0"
          #dateInput
          (click)="dateInput.showPicker()"
        />

        <span
          class="pointer-events-none absolute left-4 top-1/2 ms-[1px] -translate-y-1/2 text-textSecondary transition-opacity peer-valid:opacity-0"
        >
          dd/mm/aaaa
        </span>

        <svg
          class="pointer-events-none absolute right-4 top-1/2 h-5 w-5 -translate-y-1/2 text-textPrimary opacity-60"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
        >
          <path
            d="M7 2v2H5a2 2 0 0 0-2 2v2h18V6a2 2 0 0 0-2-2h-2V2h-2v2H9V2H7zm14 8H3v8a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-8z"
          />
        </svg>
      </div>
    </div>

    <h3 class="px-4 pb-2 pt-4 text-lg font-bold leading-tight tracking-title text-textPrimary">
      Productos
    </h3>

    <div class="justify-start px-4 py-3">
      <button
        (click)="openAddItem()"
        class="h-10 w-full cursor-pointer rounded-lg bg-btnSecondary font-bold text-textPrimary"
      >
        Agregar ítem
      </button>
    </div>

    <div class="">
      <create-card
        *ngFor="let ctrl of itemsFA.controls; let i = index"
        [item]="ctrl.getRawValue()"
        (edit)="openEditItemModal(i)"
        (remove)="removeItem(i)"
      >
      </create-card>
    </div>
    <div class="px-4 py-3">
      <button
        type="submit"
        class="btn-disabled h-12 w-full rounded-lg bg-btnPrimary px-5 text-base font-bold leading-normal tracking-[0.015em] text-white"
        [disabled]="form.invalid"
      >
        Crear
      </button>
    </div>
  </form>
  <app-create-modal
    *ngIf="isOpen"
    (itemCreated)="addItem($event)"
    (closed)="closeAddItem()"
  ></app-create-modal>
</div>
